.employee-1 {
    background-color: #5BC0EB !important;
}
.employee-2 {
    background-color: #FDE74C!important;
}
.employee-3 {
    background-color: #9BC53D !important;
}
.employee-4 {
    background-color: #C3423F !important;
}
.employee-5 {
    background-color: #404E4D !important;
    color: white;
}